# See https://help.github.com/ignore-files/ for more about ignoring files.

# vscode config
.vscode/

# ide config
.idea/

# dependencies
node_modules

# production
dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
coverage

# cache folder
.cache
# Playwright test artifacts
playwright-report
playwright/.auth
test-results
.cypress-cache

# cypress
cypress/screenshots
cypress/videos
cypress/downloads
