.react-grid-item {
  &.react-grid-placeholder {
    background-color: var(--pf-t--color--gray--60);
    border-radius: 12px;
  }

  .react-resizable-handle {
    &::after {
      display: none;
    }
    img {
      padding: 3px;
    }
  }
}

#widget-layout-container {
  width: 100%;
  min-height: 200px;
}
