.grid-tile {
  background: var(--pf-v5-global--BackgroundColor--150);
  position: relative;
  height: 100%;
  overflow: hidden;
  .drag-handle {
    cursor: grab;
  }
  .drag-handle.dragging {
    cursor: grabbing;
  }
  &.static {
    .drag-handle {
      cursor: not-allowed;
    }
    .drag-handle.dragging {
      cursor: not-allowed;
    }
  }
  .pf-v5-c-card {
    &__header {
      background: var(--pf-v5-global--BackgroundColor--150);
      .widg-c-icon--header {
        .service-icon {
          height: 28px;
          width: 28px;
        }
        .pf-v5-svg {
          color: var(--pf-v5-global--primary-color--100);
          height: 22px;
          width: 22px;     
        }
      }
      .widg-card-header-text {
        gap: 0;
        line-height: 0;
      }
      .pf-v5-c-menu-toggle {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &__actions {
      padding-left: var(--pf-v5-global--spacer--xs);
    }
    &__body {
      background: var(--pf-v5-global--BackgroundColor--100);
    }
  }
}
