.react-grid-item {
  .react-resizable-handle-nw, .react-resizable-handle-sw, .react-resizable-handle-se {
    display: none;
  }

  .react-resizable-handle-nw, .react-resizable-handle-se {
    cursor: nwse-resize;
  }

  .react-resizable-handle-ne, .react-resizable-handle-sw {
    cursor: nesw-resize;
  }

  &:hover, &:active {
    &:not(.static) {
      .react-resizable-handle-nw, .react-resizable-handle-sw, .react-resizable-handle-se {
        display: inherit;
      }
    }
  }

  &.react-grid-placeholder {
    background-color: var(--pf-t--color--gray--60);
    border-radius: 12px;
  }

  .react-resizable-handle {
    &::after {
      display: none;
    }
    img {
      padding: 3px;
    }
  }
}

#widget-layout-container {
  width: 100%;
  min-height: 200px;
}
