.grid-tile {
  position: relative;
  height: 100%;

  .drag-handle {
    cursor: grab;
  }
  
  .drag-handle.dragging {
    cursor: grabbing;
  }
  
  &.static {
    .drag-handle {
      cursor: not-allowed;
    }
    
    .drag-handle.dragging {
      cursor: not-allowed;
    }
  }

  .pf-v5-c-card__header:first-child {
    padding-top: var(--pf-v5-global--spacer--md);
  }

  // use ellipsis without calculating width
  .pf-v5-c-card__title {
    position: relative;
    &:before {
      content: '&nbsp;';
      visibility: hidden;
    }
    &-text {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .pf-v5-c-card__body {
     overflow-y: scroll;
  }
}
