.react-grid-item {
  .react-resizable-handle-nw, .react-resizable-handle-sw, .react-resizable-handle-se {
    display: none;
  }

  .react-resizable-handle-nw, .react-resizable-handle-se {
    cursor: nwse-resize;
  }

  .react-resizable-handle-ne, .react-resizable-handle-sw {
    cursor: nesw-resize;
  }

  &:hover, &:active {
    &:not(.static) {
      .react-resizable-handle-nw, .react-resizable-handle-sw, .react-resizable-handle-se {
        display: inherit;
      }
    }
  }

  &.react-grid-placeholder {
    background-color: var(--pf-v5-global--palette--black-700);
    border-radius: 4px;
  }

  .react-resizable-handle {
    &::after {
      display: none;
    }
    img {
      padding: 3px;
    }
  }
}

.react-grid-layout {
  // if the height is 0, you can't drop anything in the grid
  min-height: 200px;
}