.grid-tile::before{
  z-index: 1;
}
.grid-tile {
  background: var(--pf-t--global--background--color--100);
  position: relative;
  height: 100%;
  overflow: hidden;
  .drag-handle {
    cursor: grab;
  }
  .drag-handle.dragging {
    cursor: grabbing;
  }
  &.static {
    .drag-handle {
      cursor: not-allowed;
    }
    .drag-handle.dragging {
      cursor: not-allowed;
    }
  }
  .pf-v6-c-card {
    &__header {
      padding: var(--pf-t--global--spacer--md);
      padding-bottom: var(--pf-t--global--spacer--sm);
      background: var(--pf-t--global--background--color--200);
      .widg-c-icon--header {
        .service-icon {
          height: 28px;
          width: 28px;
        }
        .pf-v6-svg {
          color: var(--pf-t--color--blue--50);
          height: 22px;
          width: 22px;
          margin-bottom: var(--pf-t--global--spacer--sm);
        }
      }
      .widg-card-header-text {
        gap: 0;
        line-height: 0;
        padding-top: 2px;
      }
      .pf-v6-c-menu-toggle {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &__actions {
      padding-left: var(--pf-t--global--spacer--xs);
    }
    &__body {
      background: var(--pf-t--global--background--color--100);
    }
  }
}
