.widg-l-flex--header,
.widg-l-split--add-widget,
.widg-l-gallery,
.layout
{
  max-width: 1280px;
}

.pf-v5-c-toolbar__content {
  padding-left: 0;
}

.pf-v5-c-button {
  --pf-v5-c-button--m-control--Color: var(--pf-v5-global--Color--200);
}

// hack: setting max-width on the flex is causing string to appear
.pf-v5-c-clipboard-copy__group .pf-v5-c-form-control {
  display: none;
}

.widg-c-page__main-section--header .pf-v5-c-toolbar__group {
  .pf-v5-c-menu-toggle {
    min-width: 275px;
  }
  .pf-v5-c-clipboard-copy {
    .pf-v5-c-form-control {
      display: none;
    }
    button::after {
      border: none;
    }
  }
}