.widg-l-flex--header,
.widg-l-split--add-widget,
.widg-l-gallery,
.empty-layout
{
  margin: auto auto;
  max-width: 1550px;
}
#widget-layout-container,
{
  margin: auto auto;
  max-width: 1566px;
}

.widg-c-page__main-section--header,
.widg-c-page__main-section--drawer {
  border-bottom: 1px solid var(--pf-v5-global--disabled-color--200);
}
.widg-c-page__main-section--grid {
  border-bottom: 0;
}

// bundle-specific styling for widget card body only

.subscriptionInventory-subscriptions {    
  display: grid; 
  overflow: hidden;
  container-type: inline-size;
}

