// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components-utilities/styles/_all";

.widg-l-flex--header,
.widg-l-split--add-widget,
.widg-l-gallery,
.layout,
.empty-layout
{
  max-width: 1280px;
}
.pf-v5-c-page__main-section {
  border-bottom: 1px solid var(--pf-v5-global--disabled-color--200);
}

/* stylelint-disable */
.landing-exploreCapabilities {
  container-type: inline-size; 
  @container (width < 1000px) { 
    .pf-v5-l-split__item img {
      display: none;
    }
  }
}
/* stylelint-enable */

// scrollable widgets
.chrome-favoriteServices, .learningResources-learningResources, .notifications-notificationsEvents, .landing-recentlyVisited {
  overflow-y: auto;
}

// non-scrollable widgets using flex
.landing-edge, .landing-rhel, .landing-ansible, .landing-openshift, .landing-quay, .landing-openshift-ai, .landing-openshift-acs {    
  display: flex; 
  overflow: hidden;
}

